<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="adress" value="null"/>
        <add key="username" value="null"/>
        <add key="password" value="null"/>
        <add key="port" value="null"/>
        <add key="controlusername" value="null"/>
        <add key="controlpassword" value="null"/>
    </appSettings>
</configuration>